#chat-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
}

/* --------------------------left-container------------------------- */

#user-box{
    height: 100%;
    width: 20%;
    display: flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid black;
}

#chatPage-list-chat{
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items : flex-start;
    border-bottom: 1px solid black;
    /* padding: 5px 0 5px 5px; */
}

.list-conversations{
    width: 100%;
    height: 80%;
}

.create-conversation{
    width: 100%;
    height: 11%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .create-conversation button{
     width: fit-content;
     height: 50%;
 }


.conversation{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 1px solid black;
}


#setting-box{
    height: 10%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
 }

 #setting-box #login-register-btn-box{
     height: 100%;
     width: fit-content;
     display: flex;
     flex-flow: row;
     justify-content: space-around;
     align-items: center;
 }

 .login-register-btn{
     height: 40%;
     width: 70px;
     margin: 0 5px 0 5px;
     border-radius: 5px;    
}

/* ----------------right-container---------------------- */

#chat-box{
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow:column;
}

#conversation-detail{
    width: 100%;
    height: 10%;
    display:flex;
    align-items: flex-start;
    /* padding: 5px 0 5px 10px; */
    position: relative;
    border-bottom: 2px solid gray;
    background-image: url(../img/photo-collection-backgrounds-background-minimal.jpg);
    background-size: cover;
}

.list-messages{
    width: 100%;
    height: 80%;
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid grey;
    flex-flow: column;
    overflow-y: auto;
 }

 .message-container-mine{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;    
 }


 .message-cotainer-other{
     max-width: 100%;
     display: flex;
     flex-flow: column;
 }

 .list-messages .message-contents{
     padding: 10px;
     border-radius: 20px;
     background-color: #037BFE;
     max-width: 45%;
     width: max-content;
 }

 .message-container-other #other-name{
     width: fit-content;
     height: fit-content;
     padding-left: 8px;
     color: lightgray;
 }

/* ---------------send-mes-form--------------------- */

#send-message-form{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
 }

#send-message-form input{
    width: 90%;
    height: 40%;
    border-radius: 5px;
    outline: 0;
}

#send-message-form #send-message-btn{
    width: 5%;
    height: 35%;
    border-radius: 5px;
}